<div class="author-card">
    {{#if profile_image}}
        <img class="author-card-image" src={{profile_image}} alt="{{name}}" />
    {{else}}
        <span class="author-card-image">{{> "icons/avatar"}}</span>
    {{/if}}
    
    <div class="author-card-content">
        <a class="author-card-name" href="{{url}}">{{name}}</a>
        <p class="author-card-bio">
            {{#if bio}}
                {{bio}}
            {{else}}
                View all posts by the author <a href={{url}}>here</a>
            {{/if}}
        </p>
        <div class="author-card-meta">
            {{#if website}}
                <a class="author-card-social-link" href="{{website}}" target="_blank" rel="noopener" title="Website">{{> "icons/link"}}</a>
            {{/if}}
            {{#if twitter}}
                <a class="author-card-social-link" href="{{twitter_url}}" target="_blank" rel="noopener" title="Twitter">{{> "icons/twitter"}}</a>
            {{/if}}
            {{#if facebook}}
                <a class="author-card-social-link" href="{{facebook_url}}" target="_blank" rel="noopener" title="Facebook">{{> "icons/facebook"}}</a>
            {{/if}}
        </div>
    </div>
</div>