<header class="site-header padding--default">
    <div class="site-branding">
        <a class="site-logo" href="{{@site.url}}">
            {{#if @site.logo}}
                <img class="site-logo-image" src="{{@site.logo}}" alt="{{@site.title}}" />
            {{else}}
                {{@site.title}}
            {{/if}}
        </a>
    </div>

    <button type="button" class="hamburger" aria-label="Menu">
        <span></span>
        <span></span>
        <span></span>
    </button>

    {{#if @site.description}}
        <p class="site-tagline">{{@site.description}}</p>
    {{/if}}
    
    {{navigation}}

    {{> "social-media-icons"}}
    {{> "color-mode-toggle"}}
</header>

<div class="hamburger-menu">
    {{navigation}}
    {{> "social-media-icons"}}
    {{> "color-mode-toggle"}}
</div>