<article class="loop-archive__item {{post_class}} post-date-{{date format="M"}}">
    <div class="loop-archive__label-date">{{date format="MMMM YYYY"}}</div>
        <div class="loop-archive__item-inner">
            <time datetime="{{date published_at format="YYYY-MM-DD"}}" class="text-acc-3">{{date published_at format="DD MMM YYYY"}}</time>
            <a class="loop-archive__item-link" href="{{url}}">
                <h2 class="loop-archive__item-title">{{title}}</h2>
            </a>
        </div>
</article>
