<nav class="pagination" aria-label="Pagination">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}">{{t "Newer Posts"}}</a>
    {{/if}}
    {{#if next}}
        <span class="page-number">{{t "Page {page} of {pages}" page=page pages=pages}}</span>
        <a class="older-posts" href="{{page_url next}}">{{t "Older Posts"}}</a>
    {{/if}}
</nav>