<article class="post-card {{post_class}} {{#unless feature_image}}post-card--no-image{{/unless}}">
    <a class="post-card-wrapper" href="{{url}}">
        {{#if feature_image}}
            <div class="post-card-image-wrapper">
                <img class="post-card-image"
                    srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w"
                    sizes="(max-width: 1000px) 400px, 700px"
                    src="{{img_url feature_image size="m"}}"
                    alt="{{title}}"
                />
            </div>
        {{/if}}

        <div class="post-card-content">
            <div class="post-card-content-wrapper">
                {{#if primary_tag}}
                    <span class="post-card-tag">{{primary_tag.name}}</span>
                {{/if}}
                <h2 class="post-card-title">{{title}}</h2>
                <p class="post-card-excerpt">{{excerpt}}</p>
            </div>

            <aside class="post-card-meta">
                {{#if featured}}
                    <div class="post-card-meta-icon post-card-featured-label" aria-label="Featured post">
                        <span>{{> "icons/star"}}</span>
                        <span class="post-card-meta-icon__label">Featured</span>
                    </div>
                {{/if}}
                {{#unless access}}
                    <div class="post-card-meta-icon post-card-visibility post-card-visibility--{{visibility}}" aria-label="Post visibility {{visibility}}">
                        <span>{{> "icons/lock"}}</span>
                        <span class="post-card-meta-icon__label">{{visibility}}</span>
                    </div>
                {{/unless}}
            </aside>
        </div>
    </a>
</article>
