<ul class="social-media-icons">
    <li>
        <a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
            onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;" title="{{t "Share on Twitter"}}">
            {{> "icons/twitter"}}
        </a>
    </li>
    <li>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
            onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;" title="{{t "Share on Facebook"}}">
            {{> "icons/facebook"}}
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/sharing/share-offsite/?url={{url absolute="true"}}" 
            onclick="window.open(this.href, 'share-linkedin','width=580,height=296');return false;" title="{{t "Share on Linkedin"}}">
            {{> "icons/linkedin"}}
        </a>
    </li>
    <li>
        <a href="http://pinterest.com/pin/create/button/?url={{url absolute="true"}}&media={{feature_image}}&description={{encode title}}"
            onclick="window.open(this.href, 'share-pinterest','width=580,height=296');return false;" title="{{t "Share on Pinterest"}}">
            {{> "icons/pinterest"}}
        </a>
    </li>
</ul>