<ul class="social-media-icons">
    {{#if @site.twitter}}
        <li>
            <a href="{{twitter_url @site.twitter}}" title="{{t "Twitter"}}" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
        </li>
    {{/if}}
    {{#if @site.facebook}}
        <li>
            <a href="{{facebook_url @site.facebook}}" title="{{t "Facebook"}}" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
        </li>
    {{/if}}
    <li>
        <a href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="{{t "RSS"}}" target="_blank" rel="noopener">{{> "icons/rss"}}</a>
    </li>
</ul>
