{{#unless @member}}
<div class="subscribe-cta">
    <div class="subscribe-cta-wrapper">
        <div class="subscribe-cta-text">
            <h2>{{t "Subscribe"}}</h2>
            <p>{{t "Join the newsletter to receive the latest updates in your inbox."}}</p>
        </div>
        <div class="subscribe-cta-form">
            <a data-portal="signup" class="subscribe-cta-input">
                <span class="subscribe-cta-input-placeholder">{{t "Your email"}}</span>
                <span class="subscribe-cta-input-button">{{t "Subscribe"}}</span>
            </a>
            <small class="subscribe-cta-sidenote">{{t "Already a member?"}} <strong><a data-portal="signin">{{t "Sign in"}}</a></strong></small>
        </div>
    </div>
</div>
{{/unless}}