{{!< default}}

{{#author}}
    <header class="author-header">
        <div class="author-header__inner wrapper">

            <div class="author-header__content">

                <h1>{{name}}</h1>

                <span>{{plural ../pagination.total empty='' singular='%' plural='%'}}</span>

                {{#if bio}}
                    <p>{{bio}}</p>
                {{/if}}

                <a href="{{website}}" target="_blank">{{website}}</a>

            </div>

        </div>
    </header>
{{/author}}

<section class="post-bottom">
    <div class="post-bottom__inner wrapper">
        {{#foreach posts}}
            {{> "loop-bottom"}}
        {{/foreach}}
    </div>
</section>

{{pagination}}
