<!DOCTYPE html>
<html lang="{{@site.locale}}">
    <head>
        <title>{{meta_title}}</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{{asset "built/main.css"}}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{asset "built/images/apple-touch-icon.png"}}">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="{{asset "built/images/safari-pinned-tab.svg"}}" color="#f83435">
        <meta name="msapplication-TileColor" content="#121212">
        <meta name="theme-color" content="#ffffff">

        <script>
            let theme = localStorage.getItem('mode') || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
            document.documentElement.setAttribute("color-mode", theme);
        </script>

        {{#is "home"}}
            <script>
                let frontState = localStorage.getItem('front-state')  === 'archive' ? 'archive' : 'section';
                document.documentElement.setAttribute("front-page", frontState)
            </script>
        {{/is}}

        {{ghost_head}}
    </head>

    <body class="{{body_class}}">

        {{> "parts/preloader"}}

        <div class="viewport">
            {{> "header"}}

            <main class="site-main">
                {{{body}}}
            </main>

            {{> "footer"}}
        </div>

        {{ghost_foot}}

        <script src="{{asset "built/global.js"}}"></script>

        {{#is "post"}}
            <script src="{{asset "built/post.js"}}"></script>
        {{/is}}

        {{#is "home"}}
            <script src="{{asset "built/home.js"}}"></script>
        {{/is}}

        {{#is "tag, author, editorials"}}
            <script src="{{asset "built/index.js"}}"></script>
        {{/is}}

        {{{block "scripts-donate"}}}

        {{>"search"}}

        <script>
            window.addEventListener('load', () => {
                document.body.classList.add('loaded__hiding');
                window.setTimeout(function () {
                    document.body.classList.add('loaded');
                    document.body.classList.remove('loaded__hiding');
                }, 500);
            });
        </script>

        {{!-- Service Worker for PWA --}}
        <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
            navigator.serviceWorker.register('/sw.js');
            });
        }
        </script>

        {{>"parts/cookie-alert"}}

    </body>
</html>
