{{!< default}}

<section class="error-page padding--default">
    <h1>{{statusCode}}</h1>
    <p>{{message}}</p>
    <p><a class="button--primary" href="{{@site.url}}">{{t "Go to the front page"}} →</a></p>
    {{#if errorDetails}}
        <div class="error-details">
            <h4>Theme errors:</h4>
            <ul>
                {{#foreach errorDetails}}
                <li>
                    <h5 class="gh-error-stack-function">{{{rule}}}</h5>

                    {{#foreach failures}}
                    <span class="gh-error-stack-file"><strong>Ref:</strong> {{ref}}</span><br>
                    <span class="gh-error-stack-file"><strong>Message:</strong> {{message}}</span>
                    {{/foreach}}
                </li>
                {{/foreach}}
            </ul>
        </div>
    {{/if}}
</section>