{{!< default}}

{{#post}}

<article class="page {{post_class}}">
    <header class="page__header wrapper">
        {{#if feature_image}}
            <img class="page__feature-image"
                srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w"
                sizes="(max-width: 1000px) 1000px, 2000px"
                loading="lazy"
                src="{{img_url feature_image size="xl"}}"
                alt="{{title}}"
            />
        {{/if}}

        <div class="page__header-content">
            <h1 class="page__title">{{title}}</h1>
        </div>
    </header>

    <section class="page__content">
        <div class="page__content-inner view">
            {{content}}
        </div>
    </section>
</article>

{{/post}}
