<div class="latest-post">
	<h5>Последние статьи</h5>
  	{{#get "posts" filter="id:-{{id}}" include="tags,authors" limit="5"}}
    	{{#foreach posts}}
      		<article class="latest-post__item">
				<h6 class="latest-post__title">
					<a href="{{url}}">{{title}}</a>
				</h6>
				<span class="post-feed__item-date">
					<time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
				</span>
      		</article>
    	{{/foreach}}
  	{{/get}}
</div>
